*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calculator {
  height: 100dvh;
  width: 100dvw;
  border: 2px solid red;
  /* background-color: rgb(0, 0, 0); */
  text-align: center;
}
.calculatorHeading {
  color: red;
}
.calculatorHeroSection {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
}
button {
  width: 140px;
  height: 90px;
  font-size: 30px;
}
input {
  width: 562px;
  height: 80px;
  background-color: white;
  /* color: black; */
  font-size: 36px;
  border: 2px solid;
}
